<div class="container group">
	<div class="content">

		<h3>Our Vision</h3>

		<p>Our vision is to bring e-sports and professional gaming in a worldwide spotlight, make it a trend. We feel that e-sports should be better, easier to reach and more challenging to all players, not just professional gamers.</p>
		<p>Plan for the future involves building a go-to place for all the competitive gaming happenings in the world. Alongside that, worldwide tournaments in many competitive games, we want to find the best players out there, be they hidden or already on their way to us, and reward them for their skill that is neglected for now.</p>

		<h4>Core values:</h4>
		<ul>
			<li>Providing competitive, high prized and daily challenges to players from any part of the World</li>
			<li>Creating new opportunities for players to bring playing-for-fun to another level, part-time occupation or full-time career choice</li>
			<li>Sustaining and constantly investing back in the gaming community, developers and gaming teams</li>
		</ul>

		<p>Maybe one day e-sports will be considered to be a real sport by everyone, not just by gamers.</p>

		<h4>Legal</h4>
		<p>Team Wivern isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>

	</div>
</div><!-- /container -->
	
<script type="text/javascript">
    mixpanel.track("About Page Loaded")
</script>
