// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
body {
	background: #171717;
	/*font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;*/
	text-align: center;
}
body,h1,h2,h3,input,button,select,textarea {
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 960px;
	position: relative;
	margin: 0 auto;
}
.header {
	clear: both;
	overflow: hidden;
	margin: 10px 0 40px 0;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,.05);
	text-align: left;
}
.header h1 {
	width: 128px;
	height: 50px;
	float: left;
	margin: 14px 0px 0 0;
	padding-left: 45px;
	display: block;
	background: url(image-path('wivern.jpg')) no-repeat;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 25px;
}
.header ul {
	font-size: 14px;
	float: left;
}
.header ul.game-picker {
	width: 200px;
}
.header ul.game-picker li {
	float: left;
	display: none;
	position: relative;
	font-size: 18px;
	font-weight: 100;
	padding: 14px 0;
}
.header ul.game-picker .active {
	display: block;
	opacity: .6;
}
/*	.arrow-up {
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 5px solid #fff;
	right: -15px;
	top: 26px;
}*/
.header ul.nav {
	float: right;
	padding: 17px;
	margin-right: -42px;
}
.header ul.nav li {
	float: left;
	list-style: none;
	margin-right: 25px;
	opacity: .6;
}
.header ul.nav li a {
	text-decoration: none;
	color: inherit;
	padding-bottom: 3px;
}
.header ul.nav a.active {
	border-bottom: 1px solid #444;
}

h3 {
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 30px;
}
.left {
	width: 700px;
	float: left;
	text-align: left;
/*	border-right: 1px solid #242424;*/
	padding-right: 50px;
}
.left p {
	padding-bottom: 15px;
}
.right {
	/*background: rgba(255,255,255,.015);*/
	/*border: 1px solid rgba(255,255,255,.016);*/
	/*background: rgba(0,0,0,.1);*/
	/*padding: 30px;*/
	width: 250px;
	float: right;
}
.right h3 {
	font-size: 21px;
	color: #ccc;
	font-weight: 200;
	margin-bottom: 28px;
}
label,div.multiple,.trigger {
	/*background: #171717 !important;*/
/*	margin-top: -18px;
*/}
form {
	width: 250px;
	margin: 0 auto;
}
form label {
	width: 250px;
	float: left;
	display: block;
	margin-bottom: -1px;
}
form input, form button, form select, form textarea {
	width: 100%;
	padding: 10px 15px 10px 14px;
	background: none;
	border: 0;
	font-size: 16px;
	border: 1px solid #222;
	color: #444;
	-webkit-transition: all .3s;
}
div.multiple {
	padding: 10px 15px 12px 14px;
	border: 1px solid #222;
	color: #444;
	text-align: left;
	font-size: 16px;
	width: 250px;
	float: left;
	display: block;
	margin-bottom: -1px;
}
div.multiple label {
	clear: both;
	overflow: hidden;
	width: 100%;
	float: none;
	margin: 0;
	padding: 13px 0 0px 0;
	font-size: 16px;
}
div.multiple label label {
	padding: 0;
	margin: -4px 0 0 0;
	float: left !important;
	clear: none;
	overflow: visible;
	width: auto;
}
div.multiple input {
	opacity: .3;
	width: auto;
	float: left;
	padding: 0;
	margin-right: 10px;
	background: none;
	border: 0;
}
form select:focus {
	outline: none;
}
form option {
	padding: 5px;
	color: #4b4b4b;
}
form input:focus {
	color: #fff;
	outline: none;
}
form label.button {
	margin: 15px auto 0 auto;
}
form label.button button {
	padding: 16px 15px 16px 15px;
	background: #444;
	color: #171717;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase; 
	-webkit-transition: all .3s;
	border: 0;
}
form label.button button:hover {
	-webkit-transition: all .6s;
	cursor: pointer;
}
form label.button button:focus {
	outline: none;
	background: #444;
	color: #171717;
	-webkit-transition: all .6s;
}
::-webkit-input-placeholder {
	color: #444;
}
:-moz-placeholder {
	color: #444;
}
::-moz-placeholder {
	color: #444;
} 
:-ms-input-placeholder {  
	color: #444;
}

body.about .content {
	color: #ccc;
	opacity: .8;
	text-align: left;
}
p {
	line-height: 1.5em;
	font-size: 16px;
	padding-bottom: 10px;
	color: #ccc;
}
h4 {
	color: #fff;
	padding: 20px 0 10px 0;
	font-weight: 600;
}
body.about .content ul {
	padding: 0 0 30px 0;
}
body.about .content ul li {
	width: 80%;
	padding: 3px 0;
	line-height: 1.5em;
	list-style: disc inside;
}
body.about .content .team {
	margin: 15px 0;
}
body.about .content .team h3 {
	margin-bottom: 0;
}
body.about .content .team div {
	width: 33%;
	float: left;
	padding: 10px 0 10px 0;
	font-weight: 600;
}
body.about .content .team div h4 {
	color: #fff;
	font-size: 21px;
	padding: 10px 0 10px 0;
	font-weight: 600;
}
body.about .content .team div span {
	font-weight: 200;
}

body.thanks {
	color: #fff;
}
body.thanks .content {
	margin: 5% auto 1% auto;
}
body.thanks h2 {
	margin: 0 0 20px 0;
}
body.thanks p {
	color: #ccc;
}
body.thanks .content a {
	display: block;
	padding: 5px;
	margin: 20px 0;
	color: yellow;
}

.how-it-works {
	text-align: left;
	clear: both;
	overflow: visible;
}
.how-it-works h3 {
}
.how-it-works div {
	padding-left: 130px;
	margin-bottom: 25px;
}
.how-it-works h4 {
	font-size: 21px;
	font-weight: 400;
	padding: 0 0 5px 0;
}
.how-it-works p {
	opacity: .8;
}
/*.how-it-works .box1 {
	background: url("images/icon_reward.png") no-repeat 24px 12px;
}
.how-it-works .box2 {
	background: url("images/icon_compete.png") no-repeat 22px 0px;
}
.how-it-works .box3 {
	background: url("images/icon_community.png") no-repeat 0px 11px;
}*/

.footer {
	margin: 50px 0 30px 0;
	text-align: left;
	border-top: 1px solid rgba(255,255,255,.05);
}
.footer .container.copy {
	margin-top: 30px;
	margin-bottom: 25px;
	opacity: .2;
/*	background: url("../wivern.jpg") right 2px no-repeat;
*/}
.footer .container.assembly {
	opacity: .3;
	padding: 30px 0;
	color: #fff;
	font-size: 16px;
}
.footer .container a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #666;
}
.footer .container.assembly img {
	margin: 0 0px -9px 1px;
}
.footer p {
	color: #fff;
	text-align: left;
	width: 90%;
	line-height: 16px;
	font-size: 11px;
}
div.fancy-select {
	position: relative;
	color: #fff;
	text-align: left;
	width: 100%;
	background: url(image-path('arrow.png')) 223px 19px no-repeat;
	color: #444;
	border: 0;
	font-size: 18px;
	border: 1px solid #222;
	text-align: left;
}
div.fancy-select.disabled {
	opacity: 0.5;
}
div.fancy-select select:focus + div.trigger {
}
div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}
div.fancy-select div.trigger {
	padding: 10px 15px 10px 14px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	width: 100%;
	font-size: 16px;
	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 20px;
	right: 9px;
}

div.fancy-select div.trigger.open {
	background: none;
	color: #fff;
	box-shadow: none;
}

div.fancy-select div.trigger.open:after {
}

div.fancy-select ul.options {
	width: 250px;
	background: #171717;
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	overflow: auto;
	border: 1px solid #222;
	margin-left: -1px;
	font-size: 16px; 
	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 42px;
	opacity: 1;
	-webkit-box-shadow: 3px 0 10px 2px #171717;


	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}
div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;
	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}
div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;
	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}
div.fancy-select ul.options li {
	font-size: 12px;
	padding: 8px 15px 8px 14px;
	border-bottom: 1px solid #222;
	color: #444;
	cursor: pointer;
	white-space: nowrap;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}
div.fancy-select ul.options li:nth-child(10) {
	border-bottom: 0;
}
div.fancy-select ul.options li.selected {
}

div.fancy-select ul.options li.hover {
	color: #fff;
}

/* let's clear some floats */
.group:before,
.group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

form h4 {
	font-size: 21px;
	font-weight: 200;
	margin: 0 0 20px 0;
}
h4 span {
	display: inline-block;	
	background: #202020;
	color: #CFCFCF;
	margin: 0 3px 0 0;
	padding: 0 4px;
}
h4 span.slash {
	background: none;
	color: #444;
}
.hidden {
	display: none;
}
.btn {
	padding: 8px 15px;
	margin-right: 15px;
	display: inline-block;
	text-decoration: none;
	color: #ccc;
	background: rgba(255,255,255,.06);
}
.btn i {
	padding: 0 8px 0 0;
}