// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #fff;
}
label {
	margin-top: 15px;
}
input {
	margin: 15px 0 25px 0;
}
i {
	font-size: 13px; color: #444;
	line-height: 1em;
}